<!DOCTYPE html>
<html>
  <head>
    <title>Making Mystery</title>
  </head>
  
  <body>

    <h1 class="Mystery in the Making">Opening Lines for Your Next Mystery</h1>

  <p>Select from the options below to create your mystery.</p>

<form action="http://itp.nyu.edu/~dm1346/sinatra/save_choices" method="POST">
  
<p>Select a mystery sub-genre, a setting, and a protagonist. </p>

<p><input type="radio" name="subgenre" value="Noir">Noir</p>>
<p><input type="radio" name="subgenre" value="Whodunit">Whodunit</p>
<p><input type="radio" name="subgenre" value="Legal Mystery">Noir</p>>
<p><input type="radio" name="subgenre" value="Romantic Mystery">Romantic Mystery</p>
<p><input type="radio" name="subgenre" value="Satirical Mystery">Satirical Mystery</p>
<p><input type="radio" name="subgenre" value="Political Mystery">Political Mystery</p>
<br>
<p><input type="radio" name="setting" value="US">US Setting</p>>
<p><input type="radio" name="setting" value="non-US">Non-US Setting</p>
<br>
<p><input type="radio" name="protagonist" value="F">Female</p>>
<p><input type="radio" name="protagonist" value="M">Male</p>
<p><input type="submit" value="submit" />Submit</p>
</form>

  </body>
</html>  